[submodule "gaming-tournaments-frontend"]
	path = gaming-tournaments-frontend
	url = https://github.com/mz403079/gaming-tournaments-frontend.git
[submodule "gaming-tournaments-backend"]
	path = gaming-tournaments
	url = https://github.com/mz403079/gaming-tournaments.git
